:root {
    --fs-s: 12px;
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 16px;
    --fs-lg: 20px;
    --fs-xl: 25px;
    --fs-2xl: 48px;
    --fs-3xl: 35px;
    --fs-2xl: 30px;
    --fs-3xl: 35px;
    /* color */
    --clr-black70: #4D4D4D;
    --clr-black: #000000;
    --clr-gridentOrnage: #FD9B2B;
    --clr-whiteShadow: #0000000A;
    --clr-pureWhite: #0000000F;
    --clr-brownniss: #FF586E47;
    --clr-white: #FFFFFF;
    --clr-purple: #8256F066;
    --clr-gridentRed: #F14F09;
    --clr-borderWhite: #E8E8E8;
    --clr-bordergry: #FFFFFF40;
    --clr-about:#FFFCFC;
}

.color-white {
    color: var(--clr-white);
}

.color-black {
    color: var(--clr-black);
}

.text12-s {
    font-size: var(--fs-s);
}

.text14-xsm {
    font-size: var(--fs-xsm);
}

.text16-sm {
    font-size: var(--fs-sm)
}

.text20-md {
    font-size: var(--fs-md);
}

.text24-lg {
    font-size: var(--fs-lg);
}

.text40-xl {
    font-size: var(--fs-xl);
}

.text48-2xl {
    font-size: var(--fs-2xl);
}

.text61-3xl {
    font-size: var(--fs-3xl);
}

@media (min-width:576px) {
    :root {
        --fs-md: 20px;
        --fs-2xl: 48px;
    }
}

@media (min-width:768px) {
    :root {
        --fs-xl: 35px;
        --fs-lg: 24px;
        --fs-3xl: 45px;
    }
}

@media (min-width:992px) {
    :root {
        --fs-xl: 40px;
        --fs-3xl: 61.17px;
    }
}