@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
}

.ff-work {
    font-family: 'Work Sans', sans-serif;
}

/* ===============font-weight=========== */
.fw-normal {
    font-weight: 400 !important;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

/* ===============line-heigth========== */
.lh-16 {
    line-height: 16px;
}

.lh-19 {
    line-height: 19px;
}

.lh-22 {
    line-height: 22px;
}

.lh-23 {
    line-height: 23px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-28 {
    line-height: 28px;
}

.lh-37 {
    line-height: 37px;
}

.lh-40 {
    line-height: 40px;
}

.lh-47 {
    line-height: 47px;
}

.lh-56 {
    line-height: 56px;
}

.lh-72 {
    line-height: 72px;
}

/* ===========hero-section=========== */
.hero_bg_img {
    background-image: url(/assets/images/png/hero-png-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gap_46 {
    gap: 46px;
}

.gap_30 {
    gap: 30px;
}

.py_28 {
    padding-top: 28px;
    padding-bottom: 28px;
}

/* ===================== */
.orang_layer_position {
    top: 0;
}

.white_layer_position {
    top: 100px;
}

.pt_225 {
    padding-top: 225px;
}

.max_w_443 {
    max-width: 443px;
}

.max_w_72 {
    max-width: 72px;
}

.opacity-70 {
    opacity: 70%;
}

.row_gap {
    row-gap: 30px;
}

.gradient_text {
    background-color: var(--clr-gridentOrnage);
    background-image: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading_sideline::after {
    content: '';
    position: absolute;
    width: 44px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    height: 2px;
    top: 50%;
    margin-left: 8px;
}

@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 300ms linear;
        z-index: 3;
        background: white;
    }

    .menuIcon {
        width: 30px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 4px;
        background: black;
        transition: all 300ms linear;
    }

    .w_100 {
        width: 100%;
    }
}

@media (min-width:992) {
    .max_w_453 {
        max-width: 453px;
    }
}