@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    scroll-behavior: smooth;
}

.ff-work {
    font-family: 'Work Sans', sans-serif;
}

.container_1140 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* ===============font-weight=========== */
.fw-normal {
    font-weight: 400 !important;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

/* ===============line-heigth========== */
.lh-16 {
    line-height: 16px;
}

.lh-19 {
    line-height: 19px;
}

.lh-22 {
    line-height: 22px;
}

.lh-23 {
    line-height: 23px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-28 {
    line-height: 28px;
}

.lh-31 {
    line-height: 31px;
}

.lh-35 {
    line-height: 35px;
}

.lh-37 {
    line-height: 37px;
}

.lh-40 {
    line-height: 40px;
}

.lh-47 {
    line-height: 47px;
}

.lh-56 {
    line-height: 56px;
}

.cross span:nth-child(1) {
    transform: rotate(52deg) translateY(26px);
    transition: all 300ms linear;
    position: relative;
    top: -6px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-54deg) translateY(-27px);
    transition: all 300ms linear;
    position: relative;
    top: 2px;
}

/* ===========hero-section=========== */
.hero_bg_img {
    background-image: url(/assets/images/png/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav_link {
    position: relative;

}

.nav_link::after {
    content: "";
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: var(--clr-black);
    position: absolute;
    transition: 0.2s linear;
    left: 50%;
    bottom: 0;
}

.nav_link:hover::after {
    width: 100%;
}

.max_w_729 {
    max-width: 755px;
}

.pt-128 {
    padding-top: 128px;
}

.gap_46 {
    gap: 46px;
}

.gap_30 {
    gap: 30px;
}

.py_28 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.position_sun {
    top: 22%;
    right: 6%;
}

/* ==========about-us=========== */
.orang_layer_position {
    top: 0;
}

.white_layer_position {
    top: 100px;
}

.pt_60 {
    padding-top: 60px;
}


.max_w_443 {
    max-width: 443px;
}

.max_w_72 {
    max-width: 72px;
}

.opacity-70 {
    opacity: 70%;
}

.row_gap {
    row-gap: 30px;
}

.gradient_text {
    background-color: var(--clr-gridentOrnage);
    background-image: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading_sideline::after {
    content: '';
    position: absolute;
    width: 44px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    height: 2px;
    top: 50%;
    margin-left: 8px;
}

/* ================features-============ */
.feature_bg_img {
    background-image: url(../images/png/feature_bg_img.png);
    background-position: center;
    background-size: cover;
}

.max_w_257 {
    max-width: 257px;
}

.max_w_215 {
    max-width: 215px;
}

.mb_30 {
    margin-bottom: 30px;
}

.gap_20 {
    gap: 20px;
}

.py_121_43 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.max_w_212 {
    max-width: 212px;
}

.feature_box {
    padding: 20px 20px;
    min-width: 293px;
    border-radius: 8px;
    box-shadow: 0px 4px 66px 0px var(--clr-whiteShadow);
    transition: all 0.5s linear;
    cursor: pointer;
}

.feature_box:hover {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    transition: all 0.5s linear;
}

.feature_box:hover {
    transform: translateY(-43px);
}

.feature_box:hover .feature_IconBox {
    background: var(--clr-white);
}

.feature_box:hover path {
    fill: url(#gradient);
}

.feature_box:hover .colr_hover_white {
    color: var(--clr-white);
    opacity: none;
}

.feature_IconBox {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    transition: all 0.3s linear;
}

.feautre_IconBox_1shodow {
    box-shadow: 0px 4px 17px 0px var(--clr-brownniss);
}

.feautre_IconBox_2shodow {
    box-shadow: 0px 4px 17px 0px var(--clr-purple);
}

.comn_btn {
    padding: 7px 20px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border-radius: 30.5px;
    border: 2px solid transparent;
    position: relative;
    transition: all 300ms linear;
}

.comn_btn:hover {
    background: linear-gradient(96.64deg, #F14F09 13.58%, #FD9B2B 86.99%);
}

.position_white_ellip {
    bottom: 0;
    right: 0;
}

.position_white_ellip2 {
    bottom: 0;
    right: 0;
}

/* ===============modulas=========== */
.cursor-pointer {
    cursor: pointer;
}

.gap_lg_52 {
    gap: 15px;
}

.mb_20 {
    margin-bottom: 20px;
}

.modules_box {
    box-shadow: 0px 4px 66px 0px var(--clr-whiteShadow);
    max-width: 1016px;
    padding: 10px;
    border-radius: 8px;
}

.slider_icon_position {
    top: 27%;
    right: 27%;
}

.w_modules_100 {
    width: 100%;
    max-width: 290px;
}

.slick-dots li.slick-active button:before {
    color: var(--clr-gridentRed);
}

.slick-track {
    display: flex;
    gap: 30px;
}

.slick-dots {
    bottom: 70px;
}


/* ==================pricing================= */
.py_lg_191_368 {
    padding-top: 191px;
    padding-bottom: 368px;
}

.py_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pb_10 {
    padding-bottom: 10px;
}

.mb_29 {
    margin-bottom: 29px;
}

.gap_23 {
    gap: 23px;
}

.max_w_162 {
    max-width: 162px;
}

.mt_15 {
    margin-top: 15px;
}

.pricing_box {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    padding: 23px 40px 23px 41px;
    border-radius: 10px 10px 0 0;
}

.white_box {
    box-shadow: 0px 6px 12px 0px var(--clr-pureWhite);
    padding: 35px 42px;
    border-radius: 0 0 10px 10px;
}

.justify-content-end {
    justify-content: end !important;
}

.white_toggle_cirle {
    width: 77px;
    height: 34px;
    border-radius: 19px;
    background: var(--clr-white);
    padding: 3px;
    cursor: pointer;
}

.grident_circle {
    width: 27.01px;
    height: 27.01px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border-radius: 50%;
    display: flex;
}

.grident_circle:hover {}

.dimand_box {
    width: 55px;
    height: 55px;
    background: var(--clr-white);
    border-radius: 50%;
}

.platinum_box {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    padding: 25px 25px;
    border-radius: 10px;
    border: 1px solid var(--clr-borderWhite)
}

/* ===============contact-us================ */
.border_none {
    border: none;
    outline: none;
}

.border_form_bottom {
    border-bottom: 1px solid var(--clr-black);
}

.color-grey {
    color: var(--clr-black70);
}

.mb_15 {
    margin-bottom: 15px;
}

.mt_30 {
    margin-top: 30px;
}

.pb_0 {
    padding-bottom: 0;
}

.h_71 {
    max-height: 71px;
}

.mt-30 {
    margin-top: 30px;
}

.mt_10 {
    margin-top: 10px;
}

.resizer-none {
    resize: none;
}

.pricing_iconPosition {
    bottom: 73px;
    left: 20%;
}

/* ===============footer============ */
.footer_bg {
    background-image: url(../images/png/footer-bg-img.png);
    background-size: cover;
}

.justify_between {
    justify-content: space-between;
}

.max_w_375 {
    max-width: 375px;
}

.max_w_294 {
    max-width: 294px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_35 {
    margin-bottom: 35px;
}

.py_15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pt_82 {
    padding-top: 82px;
}

.border_bottom {
    border: 1px solid var(--clr-bordergry);
}

.footer_ellip1_position {
    left: 0;
    top: 49%;
}

.footer_ellip2_position {
    left: 4%;
    top: 77%;
}

.footer_ellip3_position {
    bottom: 0;
    left: 2%;
}

.footer_ellip4_position {
    top: 34%;
    right: 9%;
}

.footer_ellip5_position {
    top: 45%;
    right: 10%;
}

.topBtn {
    width: 40px;
    height: 40px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 10%;
    cursor: pointer;
    opacity: 0;
    transition: all 300ms linear;
}

.topBtn.show {
    opacity: 1;
}

.topBtn:hover {
    box-shadow: 0px 3px 15px 3px var(--clr-gridentRed);
}

@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-white);
    }

    .menuIcon {
        width: 30px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 4px;
        background: var(--clr-black);
        transition: all 300ms linear;
    }

    .w_100 {
        width: 100%;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }

    .text_align_center {
        text-align: center;
    }

    .justify_content_between {
        justify-content: space-between;
    }

    .pricing_row_gap {
        row-gap: 30px;
    }
}

@media (min-width:576px) {
    .py_sm_50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .py_121_43 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pt_sm_100 {
        padding-top: 100px;
    }

    .pb_sm_40 {
        padding-bottom: 40px;
    }

    .lh-sm-37 {
        line-height: 37px;
    }

    .mb_sm_25 {
        margin-bottom: 25px;
    }

    .comn_btn {
        padding: 12px 37px;
    }

    .slick-dots {
        bottom: 54px;
    }

    .gap_sm_52 {
        gap: 52px;
    }

    .pb_sm_35 {
        padding-bottom: 35px;
    }

    .mt_sm_30 {
        margin-top: 30px;
    }

    .mt_30 {
        margin-top: 0;
    }

}

@media (min-width:768px) {
    .py_md_70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .pt_md_178 {
        padding-top: 178px;
    }

    .lh-md-60 {
        line-height: 60px;
    }

    .w_modules_100 {
        max-width: 443px;
        object-fit: cover;
    }

    .modules_box {
        padding: 34px 36px 0 36px;
    }

    .slick-dots {
        bottom: 6px;
    }

    .platinum_box {
        padding: 41px 25px;
    }
}

@media (min-width:992px) {
    .text_nowrap {
        text-wrap: nowrap;
    }

    .topBtn {
        width: 50px;
        height: 50px;
    }

    .mb_274 {
        margin-bottom: 274px;
    }

    .max_w_453 {
        max-width: 453px;
    }

    .py_lg_217 {
        padding-top: 217px;
        padding-bottom: 217px;
    }

    .py_121_43 {
        padding-top: 121px;
        padding-bottom: 43px;
    }

    .pt_lg_40 {
        padding-top: 40px;
    }

    .py_lg_191_368 {
        padding-top: 191px;
        padding-bottom: 368px;
    }

    .py_sm_150 {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .pb_lg_142 {
        padding-bottom: 142px;
    }

    .pb_lg_75 {
        padding-bottom: 75px;
    }

    .mt_lg_35 {
        margin-top: 35px;
    }

    .lh-lg-47 {
        line-height: 47px;
    }

    .gap_lg_45 {
        gap: 45px;
    }

    .lh-lg-72 {
        line-height: 72px;
    }

    .feature_box {
        padding: 40px 18px;
    }

    .max_w_484 {
        max-width: 484px;
    }

    .mb_lg_38 {
        margin-bottom: 38px;
    }

    .mt_lg_60 {
        margin-top: 60px;
    }

    .mb_lg_78 {
        margin-bottom: 78px;
    }

    .next_btn_Icon {
        right: 10px;
        top: 50%
    }

    .pricing_box {
        max-width: 540px;
    }

    .white_box {
        max-width: 540px;
    }

    .position_arrowIcon {
        top: 25%;
        left: 7%;
    }

}

@media (min-width:1200px) {
    .position_arrowIcon {
        top: 26%;
        left: 13%;
    }
}

@media (min-width:1400px) {
    .position_arrowIcon {
        top: 27%;
        left: 27%;
    }

    .next_btn_Icon {
        right: 10%;
        top: 50%
    }

    .prev_btn_Icon {
        left: 10%;
        top: 50%;
    }
}